*/.venv
.zed
/wav2vec2_checkpoints
Code/run.sh
Code/pronunciation.wav2
Code/audio.wav
pronunciation.wav2
*/audio.wav
audio.wav
/Code/pytorch_mpiigaze
/Code/__pycache__
Code/wav2vec2_checkpoints
Code/__pycache__/TextPronunciationFluency.cpython-310.pyc